<div class="create-card-container">
  <h2>Create New Card</h2>
  <form #createCardForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Card Type</label>
      <app-select [(ngModel)]="newCard.type" name="type" required>
        <option value="DEBIT">DEBIT</option>
        <option value="CREDIT">CREDIT</option>
      </app-select>
    </div>
    <div class="form-group">
      <label>Card Name</label>
      <input-text type="text" [(ngModel)]="newCard.name" name="name" required label=""/>
    </div>
    <div class="form-group">
      <label>Card Limit</label>
      <input-text type="number" [(ngModel)]="newCard.cardLimit" name="cardLimit" required label=""/>
    </div>
    <app-button type="submit" [disabled]="createCardForm.invalid" label="Create"/>
  </form>
</div>
