<div class="payment-container">
  <h2>New Payment</h2>

  <form #paymentForm="ngForm" (ngSubmit)="onSubmit()">
    <app-select
      label="Sender Account Number"
      [(ngModel)]="payment.senderAccountNumber"
      name="senderAccountNumber"
      required>
      <option value="" disabled>Select Sender Account</option>
      <option *ngFor="let account of accounts" [value]="account.accountNumber">
        {{ account.accountNumber }} ({{ account.owner.firstName }} {{ account.owner.lastName }})
      </option>
    </app-select>

    <app-select
      label="Receiver Account Number"
      [(ngModel)]="payment.receiverAccountNumber"
      name="receiverAccountNumber"
      required>
      <option value="" disabled>Select Receiver Account</option>
      <option *ngFor="let account of accounts" [value]="account.accountNumber">
        {{ account.accountNumber }} ({{ account.owner.firstName }} {{ account.owner.lastName }})
      </option>
    </app-select>

    <input-text
      label="Amount"
      type="number"
      [(ngModel)]="payment.amount"
      name="amount"
      required
      min="0.01">
    </input-text>

    <input-text
      label="Payment Code"
      type="text"
      [(ngModel)]="payment.paymentCode"
      name="paymentCode"
      required>
    </input-text>

    <input-text
      label="Purpose of Payment"
      type="text"
      [(ngModel)]="payment.purposeOfPayment"
      name="purposeOfPayment"
      required>
    </input-text>

    <input-text
      label="Reference Number"
      type="text"
      [(ngModel)]="payment.referenceNumber"
      name="referenceNumber">
    </input-text>

    <app-button
      type="submit"
      label="Submit Payment"
      [disabled]="!paymentForm.form.valid">
    </app-button>
  </form>
</div>
